.selectBlock {
    width: 478px;
    height: 36px;
    border: 1px solid #DEDBDC;
    border-radius: 2px;
    align-items: center;
    position: relative;
}

.select {
    height: 100%;
    border: 1px solid #DEDBDC;
    width: 478px;
    margin-bottom: 19px;
}

.option {
    width: 100%;
}

.titleSelect {
    margin: 0;
    padding: 12px 0 6px 12px;
}
