.deleteModalBlock {
    position: absolute;
    background: #FCFBFB;
    width: 378px;
    height: 228px;
    top: 30%;
    left: 40%;
}

.title {
    color: #797476;
    cursor: text;
    border-bottom: 1px solid #DEDBDC;
    height: 59px;
    padding-left: 24px;
}

.text {
    font-size: 16px;
    color: #1A1718;
    padding: 0 0 42px 24px;
}

.buttonBlock{
    display: flex;
    justify-content: space-around;
}

.button {
    width: 124px;
    height: 36px;
    background: #FCFBFB;
    border-radius: 2px;
    border: 2px solid #F8346B;
    color: #F8346B
}

.button:hover {
    background: #F8346B;
    box-shadow: 0px 4px 18px rgba(248, 52, 107, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    color: white;
}

.background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.3;
}
