.modalBlock {
    width: 526px;
    height: 624px;
    position: absolute;
    background: #FCFBFB;
    top: 30%;
    left: 40%;

}

.titleBlock {
    width: 100%;
    border-bottom: 1px solid #DEDBDC;
    margin-bottom: 24px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    color: #797476;
    padding-left: 24px;
}

.titleImgBlock {
    width: 180px;
    height: 108px;
    padding: 0 0 24px 24px;
}

.titleImgBlock img {
    width: 100%;
    height: 100%;
}

.postName {
    color: #737067;
    padding-left: 24px;
}

.input {
    border: none;
    border-bottom: 1px solid #DEDBDC;
    width: 478px;
    height: 27px;
    margin: 0 0 24px 24px;
}

.background {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.3;
}

